@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: ClashDisplay, sans-serif;

  --color-primary-accent: #cc5500;
  --color-glass-bg: transparent;
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-nav-glass-bg: rgba(255, 255, 255, 0.1);
}

body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY2bm5ubm5uWlpaZmZnR0dHNzc2Li4uXl5eXl5eXl5fW1rbS0tKXl5fX19eWlpaOjo6Qm5uUeAUiAAAAMklEQVR42qXNwQoAIARA0X/S/51kE2gIHCHETxdd6P4/rB/M95sF6L9Sjp/5H/AN0/l82A+bBfB/cH8BAACAPwEA/59gAAAAAgB+hA8A/55gAAAA/n8A/wEAAP//AQB+jAEAAP6dABl/AAAA/nsA5gAAAAAA/scBAAD+PQEBAAAAAAD/XwEBAAAAAAD/lQIBAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP8PAQAAAAAAAP9/AQAAAAAAAP8PAQAAAAAAAP9/AQAAAAAAAP8PAQAAAAAAAP9/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+vAQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+vAQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+vAQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+vAQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+vAQAAAAAAAP8/AQAAAAAAAP8/AQAAAAAAAP+/AQAAAAAAAP8/BLOGLAAAAABJRU5ErkJggg=="),
    #000000;

  color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sans);
}

.glow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.glow-element {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  filter: blur(250px);
  width: 600px;
  height: 500px;
  background: rgba(255, 120, 0, 0.5);

  transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.glow-home {
  transform: translate(-50%, -50%);
  opacity: 0;
}

.glow-summary {
  transform: translate(-50%, -150%);
}
.glow-skills {
  transform: translate(50%, -50%);
}
.glow-projects {
  transform: translate(-50%, 50%);
}
.glow-contact {
  transform: translate(-150%, -50%);
  opacity: 0; 
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 4s ease-out;
}
